body{
	background-color: orangered;
}
.Titulo {
	text-align: center;
	color: orangered;
	background-color: black;
	border: 2px solid orangered;
}
.Contenido {
	border: 5px solid black;
	background-color: orange;
}
.Navegador {
	border: 1px dotted blue;
	background-color: orange;
}
img {
	width: 400px;
}